html{
    background-image: url("../images/mickey-background.jpg");
    padding-top: 20px;
}

body{
    width: 100%;
    background-color: #fefefc;
    padding: 20px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 50px;
}

#instructions{
    padding: 0px 40px;
}

#start{
    margin: 0 auto;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
}

button{
    border: 1px solid black;
}

.answer{
    padding: 5px;
}

#timer{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
}

img{
    display: block;
    margin: auto;
    width: 80%;
}

@media screen and (min-width: 700px){
    body{
        width: 700px;
        margin: 0 auto;
    }
}