.answer:hover{
    background-color: #e6e6e6; 
}

h1{
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    font-size: 50px;
}

#instructions{
    text-align: center;
    padding: 0px 40px;
}

#start{
    margin: 0 auto;
    font-family: 'Mouse Memoirs', sans-serif;
}

#wrapper, #question, #timer{
    text-align: center;
}

#timer{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
}